@using TestFlight.Models
@model LoginViewModel
@{
    ViewBag.Title = "Выполнить вход";
}

<h2>@ViewBag.Title.</h2>
<div class="modal-content py-3" style="margin-bottom:1.5rem;">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-4 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-4 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="custom-checkbox">
                            @Html.LabelFor(m => m.RememberMe)
                            @Html.CheckBoxFor(m => m.RememberMe, new { @class = "" })
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-10">
                    <input type="submit" value="Выполнить вход" class="btn btn-sm btn-primary" />
                    <a class="font-size-sm" style="color:#575252; padding-left:1rem;" href="/Account/ForgotPassword">Забыли пароль?</a>
                </div>
            }
        </section>
    </div>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
<script>
    $(document).ready(function () {

        //ПЕРЕХОД К КАТАЛОГУ

        $("ul li a.widget-list-link").click(function () {
            document.location.replace('/Home/Catalog?Filter=Type&id=' + $(this).attr("data-prodtype-id") + "&sid=" + $(this).attr("data-subtype-id") + "&tid=" + $(this).attr("data-thsubtype-id"));
        });

        $("#input_text").keydown(function (e) {
            if (e.keyCode === 13) {
                document.location.replace('/Home/Catalog?Filter=Text&name=' + $("#input_text").val() + "&nid=" + $("select#input_type option:selected").attr("prodtype-id"));
            };
        });

        //РАБОТА С КОРЗИНОЙ

        //Показ корзины

        updateBasket();
        updateHeader();

        //Удаление из корзины

        $(document).on('click', 'button.close', function () {
            deleteFromBasket($(this).attr('id'));
            updateHeader();
        });

        //Редактирование корзины

        $(document).on('click', 'button.js-minus', function () {
            editBasket($(this).attr('id'), "minus");
            updateHeader();
        });

        $(document).on('click', 'button.js-plus', function () {
            editBasket($(this).attr('id'), "plus");
            updateHeader();
        });

        //Заказ

        $(document).on('click', 'button.js-order', function () {
            getNewBasketOnServer();
        });

    });
</script>
}